ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9a9a9a;
    border-radius: 10px;
    padding-left: 20px ;
    color: #FFFFFF;
}

.removeBtnPerson{
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.removeBtnPerson:hover {
    background-color: #ff0000;
}