.ratingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #9a9a9a;
    border-radius: 15px;
    max-width: 40%;
    padding: 10px;
}

.ratingHeader {
    color: #ffffff;
}

.starsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ratingBtnsContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.ratingBtn {
    width: 120px;
    padding: 5px;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    transition: transform 0.5s;

}

.ratingBtn:hover {
    transform: scale(1.1);
    cursor: pointer;
}